* {
  box-sizing: border-box;
}

body,
.grid {
  min-height: 95vh;

  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 5fr 2fr;

  grid-template-areas:
    "header  header  header  header"
    "content content content sidebar"
    "footer  footer  footer  footer";
}

.grid > * {
  display: flex;
}

.grid > * p {
  margin: auto;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

header {
  grid-area: header;

  background-color: lightsalmon;
}

main {
  grid-area: content;

  background-color: lightblue;
}

aside {
  grid-area: sidebar;

  background-color: lightgreen;
}

footer {
  grid-area: footer;

  background-color: lightgrey;
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 2fr 2fr;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }
}
